.result-items,
.back {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 1em;
  background: var(--color);
  color: var(--background);
  border-radius: 1em;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.3);
  cursor: pointer;
}

.item-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0.5em;
}

.result-img {
  width: 80%;
}

.result-details {
  margin: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.result-title {
  font-size: 1.3em;
  text-align: center;
}

.back {
  transform: rotateY(360deg);
  transition: 3s;
}

@media (in-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
