.result-items {
  width: 25%;
  display: flex;
  justify-content: space-around;
  margin: 1em;
  background: var(--color);
  color: var(--background);
  border-radius: 0.2em;
  cursor: pointer;
}

.item-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0.5em;
}

.result-img {
  width: 80%;
}

.result-details {
  margin: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.result-title {
  font-size: 1.3em;
  text-align: center;
}

.back {
  transform: rotate(180);
  transition: 2s;
}
