:root {
  --background: #b8cbd0;
  --color: #7f9fad;
}

[data-theme="darkTheme"] {
  --background: #173c4d;
  --color: #657074;
}

body {
  background: var(--background);
  color: var(--color);
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.main-container {
  background: var(--background);
  color: var(--color);
}

.result-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
